{% extends 'base.html.twig' %}

{% block title %}New Estate{% endblock %}

{% block body %}
    <h1>Create new Estate</h1>

    {{ include('estate/_form.html.twig') }}

    <a href="{{ path('estate_index') }}">back to list</a>
{% endblock %}
